<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.OrderMapper">

    <insert id="insertOrder" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO orders (phone,address,user_id, total_price, status, created_at, updated_at)
        VALUES (#{phone},#{address},#{userId}, #{totalPrice}, #{status}, NOW(), NOW())
    </insert>
    <select id="selectOrdersByUserId" resultMap="OrderWithItemsMap">
        SELECT * FROM orders WHERE user_id = #{userId} ORDER BY created_at DESC
    </select>

    <resultMap id="OrderWithItemsMap" type="com.example.demo.pojo.entity.Order">
        <id property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="recipient" column="recipient"/>
        <result property="address" column="address"/>
        <result property="phone" column="phone"/>
        <result property="totalPrice" column="total_price"/>
        <result property="status" column="status"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>

        <!-- 通过 select 属性指定子查询方法 -->
        <collection property="items" ofType="com.example.demo.pojo.entity.OrderItem"
                    select="selectOrderItemsByOrderId" column="id"/>
    </resultMap>

</mapper>
